* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}

h2 {
    font-size: 2em;
    color: #e94d58;
    margin: 15px 0;
}

.gif {
    width: 100%;
    max-width: 300px;
}

.btn-group {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;  /* Full width of the container */
    max-width: 375px;  /* Limit width to iPhone screen size */
}

/* Ensure the wrapper takes up the full viewport height */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
    flex-direction: column;  /* Arrange items vertically */
    background-color: whitesmoke;
    max-width: 375px; /* Limit the width to iPhone screen size */
    margin: 0 auto;  /* Center the container horizontally */
}

/* Ensure the iframe's container (div) is centered */
iframe {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.question {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

button {
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
}

button.yes-btn {
    background: #e94d58;
}

button.no-btn {
    background: white;
    color: #e94d58;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}