* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}


h2 {
    font-size: 2em;
    color: #e94d58;
    margin: 15px 0;
}

.gif {
    width: 100%;
    max-width: 300px;
}

.btn-group {
    margin-top: 50px;
    position: relative;
    height: 40px;
}

/* Common styles for both mobile and desktop */
.wrapper {
    position: relative;
    overflow: hidden;
    background: white; /* Background color for better visibility */
    border: 1px solid #ccc; /* Optional: visual border for the wrapper */
}

/* Button styles remain the same */
button {
    width: 150px;
    height: 50px; /* Set height to match button styles */
}

button.yes-btn {
    background: #e94d58;
}

button.no-btn {
    background: white;
    color: #e94d58;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
